<p>home works!</p>
<section class="home-container">
    <h2>Our 3 companies with largest working capital....</h2>
    <section class="top-firms">
      <!--<div class="top-container" *ngFor="let c of company">-->
          <p class="top-name"></p>
          <p></p>
          <!--<a routerLink="/company/company-details/{{c.id}}">Details</a>-->
      <!--</div>-->
    </section>
<section>

<!--<ng-container *ngIf="serverMessage!=''">
    <p class="error">
      {{serverMessage}}
    </p>
  </ng-container>-->